name: CI

on:
  push:
    branches: [main, versions]

  pull_request:
    branches: [main]

jobs:
  test-linux:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run tests
        run: swift test

  test-macos:
    runs-on: macos-14-arm64

    steps:
      - uses: actions/checkout@v4

      - name: Run tests
        run: swift test
